@import url("https://p.typekit.net/p.css?s=1&k=akb4qev&ht=tk&f=17001.17005.39722.39729&a=8622106&app=typekit&e=css");
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
@font-face {
  font-family: "soleilBd";
  src: url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "soleilRg";
  src: url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "unit-roundedBd";
  src: url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "unit-roundedRg";
  src: url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
h1, .h1 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 3.137rem;
  line-height: 1.45; }
  @media (max-width: 1199px) {
    h1, .h1 {
      font-size: 2.369rem; } }
  @media (max-width: 767px) {
    h1, .h1 {
      font-size: 1.77rem; } }

h2, .h2 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 2.369rem;
  line-height: 1.45; }
  @media (max-width: 1199px) {
    h2, .h2 {
      font-size: 1.777rem; } }
  @media (max-width: 767px) {
    h2, .h2 {
      font-size: 1.33rem; } }

h3, .h3 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1.777rem;
  line-height: 1.45; }
  @media (max-width: 1199px) {
    h3, .h3 {
      font-size: 1.333rem; } }
  @media (max-width: 767px) {
    h3, .h3 {
      font-size: 1.2rem; } }

h4, .h4 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1.333rem;
  line-height: 1.45; }
  @media (max-width: 1199px) {
    h4, .h4 {
      font-size: 1rem; } }
  @media (max-width: 767px) {
    h4, .h4 {
      font-size: 1rem; } }

h5, .h5 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1rem;
  line-height: 1.45; }
  @media (max-width: 1199px) {
    h5, .h5 {
      font-size: 1rem; } }

h6, .h6 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 0.75rem;
  line-height: 1.45; }

p, span, a {
  font-family: "soleilRg", "system", "sans-serif";
  font-size: 1rem; }
  @media (max-width: 1199px) {
    p, span, a {
      font-size: 0.9rem; } }
  @media (max-width: 767px) {
    p, span, a {
      font-size: 0.8rem; } }

.p1 {
  font-size: 1.22rem; }
  @media (max-width: 1199px) {
    .p1 {
      font-size: 0.9rem; } }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 18px;
  width: 100%; }
  html body {
    background-color: #79ACDF;
    width: 100%; }
    html body main {
      width: 100%; }

section {
  padding: 3.33rem 0;
  max-width: 2000px;
  width: 100%;
  background-color: white;
  margin: 0 auto; }
  @media (max-width: 767px) {
    section {
      padding: 2rem 0; } }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    padding: 0; }

a {
  color: #131d26;
  transition: color 200ms linear; }
  a:hover, a:focus {
    color: #0066cc;
    text-decoration: none;
    transition: color 200ms linear; }

.cta-blue {
  display: inline-block;
  margin-left: auto;
  padding: 0.66rem 1.2rem 0.75rem;
  font-family: "unit-roundedBd", "system", "sans-serif";
  text-transform: uppercase;
  background-color: #0066cc;
  border-radius: 4px;
  color: white;
  transition: background-color 200ms linear; }
  .cta-blue:hover, .cta-blue:focus {
    background-color: rgba(0, 102, 204, 0.6);
    color: white;
    transition: background-color 200ms linear; }
  .cta-blue:active {
    background-color: #003366; }

header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem 0;
  z-index: 9999;
  transition: all 300ms linear; }
  header .container {
    margin: 0 auto;
    padding: 0; }
    header .container nav {
      padding: 0;
      width: 100%;
      margin-bottom: 0;
      vertical-align: middle; }
      header .container nav .navbar-brand {
        padding: 0;
        height: 4.44rem; }
      header .container nav .cta-blue {
        float: right;
        margin-top: 0.8rem; }
  header.scrolled {
    transition: all 300ms linear;
    background-color: #99ccff;
    box-shadow: 0 0 12px 0 #0066cc;
    padding: 0.66rem 0; }
  @media (max-width: 767px) {
    header .container nav {
      padding: 0 0.33rem; }
      header .container nav .navbar-brand {
        height: 3rem; }
      header .container nav .cta-blue {
        margin-top: 0.33rem; } }

main section .row {
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
  main section .row .content {
    margin: 0 auto;
    width: 100%; }
@media (max-width: 1199px) {
  main section .row {
    width: 80%; } }
@media (max-width: 767px) {
  main section .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }
main section#splash {
  position: relative;
  background-image: url("../assets/home-splash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35rem;
  z-index: -2;
  margin: 0 auto; }
  main section#splash > .container {
    margin: 0 auto; }
  main section#splash .cloud-background {
    position: absolute;
    width: 100%;
    bottom: -1px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain; }
  main section#splash .small-cloud {
    max-width: 15%;
    min-width: 15%;
    width: 15%;
    position: absolute; }
  main section#splash .cloud-1 {
    left: 26%;
    top: 20%; }
  main section#splash .cloud-2 {
    right: 26%;
    top: 30%; }
  main section#splash .balloon-house {
    max-width: 25%;
    min-width: 25%;
    width: 25%;
    left: 37%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0; }
  @media (max-width: 1199px) {
    main section#splash {
      height: 30rem; }
      main section#splash .cloud-1 {
        left: 20%;
        top: 25%; }
      main section#splash .cloud-2 {
        right: 20%;
        top: 45%; } }
  @media (max-width: 991px) {
    main section#splash {
      height: 25rem; }
      main section#splash .balloon-house {
        max-width: 30%; } }
  @media (max-width: 767px) {
    main section#splash .balloon-house {
      max-width: 35%;
      min-width: 35%;
      width: 35%;
      left: 30%; }
    main section#splash .small-cloud {
      max-width: 20%; } }
  @media (max-width: 575px) {
    main section#splash .balloon-house {
      max-width: 40%;
      min-width: 40%;
      width: 100%;
      left: 25%;
      top: 5rem; }
    main section#splash .small-cloud {
      max-width: 25%;
      width: 25%; }
    main section#splash .cloud-1 {
      top: 40%;
      left: 1.5rem; }
    main section#splash .cloud-2 {
      right: 0rem; } }
  @media (max-width: 440px) {
    main section#splash .balloon-house {
      max-width: 50%; } }
main section#stockmarket {
  padding-top: 0; }
  main section#stockmarket .container .row {
    width: 60%; }
    main section#stockmarket .container .row .content .text {
      margin-top: 1rem; }
    main section#stockmarket .container .row .content .cta-container {
      text-align: center; }
      main section#stockmarket .container .row .content .cta-container .cta-blue {
        margin: 1.33rem auto 0;
        padding: 0.66rem 2.2rem 0.8rem; }
  @media (max-width: 1199px) {
    main section#stockmarket .container .row {
      width: 70%; } }
  @media (max-width: 767px) {
    main section#stockmarket .container .row {
      width: 100%; } }
main section#performance .container .row {
  width: 60%; }
  main section#performance .container .row .content {
    text-align: center; }
    main section#performance .container .row .content .image {
      width: 60%;
      margin-bottom: 3.5rem; }
    main section#performance .container .row .content .title {
      text-align: left; }
    main section#performance .container .row .content .text {
      text-align: left;
      margin-top: 1rem; }
@media (max-width: 1199px) {
  main section#performance .container .row {
    width: 70%; } }
@media (max-width: 767px) {
  main section#performance .container .row {
    width: 100%; }
    main section#performance .container .row .content {
      padding: 0; }
      main section#performance .container .row .content .image {
        margin-bottom: 1rem; } }
main section#performance-panels .container .row {
  width: 100%; }
  main section#performance-panels .container .row .panel-container .panel {
    padding: 0 2rem; }
    main section#performance-panels .container .row .panel-container .panel .image-wrapper {
      min-height: 16rem; }
      main section#performance-panels .container .row .panel-container .panel .image-wrapper .image {
        display: inline-block;
        height: 100%;
        margin-bottom: 2rem; }
@media (max-width: 991px) {
  main section#performance-panels .container .row .panel-container .panel {
    text-align: center; }
    main section#performance-panels .container .row .panel-container .panel .image-wrapper .image {
      max-width: 20rem; } }
@media (max-width: 767px) {
  main section#performance-panels .container .row {
    width: 100%; }
    main section#performance-panels .container .row .panel-container {
      margin: 0;
      padding: 0; }
      main section#performance-panels .container .row .panel-container .panel {
        padding: 0; }
        main section#performance-panels .container .row .panel-container .panel .image-wrapper {
          min-height: 13rem;
          height: 16rem; }
          main section#performance-panels .container .row .panel-container .panel .image-wrapper .image {
            max-width: none;
            width: auto;
            height: 13rem; } }
main section#how-it-works {
  padding-bottom: 0; }
  main section#how-it-works .container .row {
    width: 100%; }
  main section#how-it-works .container .panel-container {
    margin: 3rem 0 0; }
    main section#how-it-works .container .panel-container .panel {
      border: none;
      box-shadow: none;
      border-radius: 0;
      display: table; }
      main section#how-it-works .container .panel-container .panel:nth-of-type(even) .image-wrapper {
        text-align: right; }
      main section#how-it-works .container .panel-container .panel:last-of-type {
        margin-bottom: 0;
        margin-top: 4rem; }
      main section#how-it-works .container .panel-container .panel .image-wrapper {
        min-width: 48%;
        max-width: 48%;
        min-height: 20rem;
        display: inline-block; }
        main section#how-it-works .container .panel-container .panel .image-wrapper img {
          max-width: 20rem;
          height: 100%;
          right: 0;
          display: inline-block; }
      main section#how-it-works .container .panel-container .panel .panel-content {
        display: table-cell;
        vertical-align: middle;
        width: 48%;
        display: inline-block; }
        main section#how-it-works .container .panel-container .panel .panel-content .title {
          margin: 0; }
        main section#how-it-works .container .panel-container .panel .panel-content .text {
          margin: 1rem 0 2rem; }
        main section#how-it-works .container .panel-container .panel .panel-content .disclaimer p {
          font-size: 0.8rem;
          width: 100%;
          margin: 0;
          border-top: 1px solid #99ccff;
          line-height: 1.6;
          padding-top: 2rem; }
        main section#how-it-works .container .panel-container .panel .panel-content .cta-blue {
          margin: 0 auto; }
  @media (max-width: 991px) {
    main section#how-it-works .row .content {
      padding: 0; }
    main section#how-it-works .container .panel-container {
      margin-top: 2rem; }
      main section#how-it-works .container .panel-container .panel {
        display: flex;
        flex-direction: column;
        text-align: center; }
        main section#how-it-works .container .panel-container .panel .image-wrapper {
          min-width: 100%; }
          main section#how-it-works .container .panel-container .panel .image-wrapper img {
            max-width: 16rem;
            height: 16rem; }
        main section#how-it-works .container .panel-container .panel:nth-of-type(even) {
          flex-direction: column-reverse; }
          main section#how-it-works .container .panel-container .panel:nth-of-type(even) .image-wrapper {
            text-align: center; }
        main section#how-it-works .container .panel-container .panel:last-of-type {
          margin-top: 0; }
        main section#how-it-works .container .panel-container .panel:first-of-type {
          padding-bottom: 2rem; }
        main section#how-it-works .container .panel-container .panel .image-wrapper {
          width: 100%; }
        main section#how-it-works .container .panel-container .panel .panel-content {
          width: 100%; } }
@media (max-width: 991px) and (max-width: 767px) {
  main section#how-it-works .row .content {
    padding: 0; }
  main section#how-it-works .container .panel-container {
    margin-top: 2rem; }
    main section#how-it-works .container .panel-container .panel {
      display: flex;
      flex-direction: column;
      text-align: center; }
      main section#how-it-works .container .panel-container .panel .image-wrapper {
        min-width: 100%;
        min-height: 13rem;
        height: 15rem; }
        main section#how-it-works .container .panel-container .panel .image-wrapper img {
          max-width: 13rem;
          height: 13rem; } }

main section#splash-bottom {
  background-image: url("../assets/home-splash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  padding: 25rem 0 6rem; }
  main section#splash-bottom .cloud-background {
    position: absolute;
    width: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain; }
  main section#splash-bottom .content {
    text-align: center; }
    main section#splash-bottom .content .title, main section#splash-bottom .content .text {
      color: white; }
    main section#splash-bottom .content .text {
      line-height: 1.5;
      font-family: "unit-roundedRg", "system", "sans-serif"; }
    main section#splash-bottom .content .cta-blue {
      margin: 1.66rem auto 0; }
  @media (max-width: 1199px) {
    main section#splash-bottom {
      padding: 18rem 0 5rem; } }
  @media (max-width: 991px) {
    main section#splash-bottom {
      padding: 15rem 0 4rem; } }
  @media (max-width: 767px) {
    main section#splash-bottom {
      padding: 12rem 0 4rem; } }
  @media (max-width: 575px) {
    main section#splash-bottom {
      padding: 10rem 0 3rem; } }

footer section#container-top {
  background-color: #131d26; }
  footer section#container-top .container .content {
    transform: translate(-50%);
    margin-left: 50%;
    text-align: center; }
    footer section#container-top .container .content .image-wrapper {
      margin-bottom: 1.33rem;
      max-width: 20rem;
      width: 100%; }
    footer section#container-top .container .content p {
      color: white; }
footer section#container-bottom {
  background-color: white;
  padding: 3rem 0; }
  footer section#container-bottom .container .row {
    margin: 0; }
    footer section#container-bottom .container .row .content .copyright {
      padding: 0; }
      footer section#container-bottom .container .row .content .copyright p {
        margin: 0;
        color: #71777d; }
    footer section#container-bottom .container .row .content .privacy {
      text-align: right; }
      footer section#container-bottom .container .row .content .privacy .legal-row {
        height: 100%; }
        footer section#container-bottom .container .row .content .privacy .legal-row .legal-item a {
          color: #131d26;
          transition: color 200ms linear; }
          footer section#container-bottom .container .row .content .privacy .legal-row .legal-item a:hover, footer section#container-bottom .container .row .content .privacy .legal-row .legal-item a:focus {
            color: #0066cc;
            transition: color 200ms linear; }
