@import url("https://p.typekit.net/p.css?s=1&k=akb4qev&ht=tk&f=17001.17005.39722.39729&a=8622106&app=typekit&e=css");
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
@font-face {
  font-family: "soleilBd";
  src: url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "soleilRg";
  src: url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "unit-roundedBd";
  src: url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "unit-roundedRg";
  src: url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400; }
h1, .h1 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 3.137rem;
  line-height: 1.45; }

h2, .h2 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 2.369rem;
  line-height: 1.45; }

h3, .h3 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1.777rem;
  line-height: 1.45; }

h4, .h4 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1.333rem;
  line-height: 1.45; }

h5, .h5 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1rem;
  line-height: 1.45; }

h6, .h6 {
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 0.75rem;
  line-height: 1.45; }

p, span, a {
  font-family: "soleilRg", "system", "sans-serif";
  font-size: 1rem; }

.p1 {
  font-size: 1.22rem; }

a {
  color: #131d26;
  transition: color 200ms linear; }
  a:hover, a:focus {
    color: #0066cc;
    text-decoration: none;
    transition: color 200ms linear; }

section {
  padding: 3.33rem 0; }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    padding: 0; }

html {
  font-size: 18px; }

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.cta-blue {
  background-color: #0066cc;
  color: white;
  margin-left: auto;
  border-radius: 4px;
  padding: 0.66rem 1.2rem;
  font-family: "unit-roundedBd", "system", "sans-serif";
  font-size: 1rem;
  text-transform: uppercase; }

header {
  background-color: transparent;
  max-width: 2000px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5rem 0 1.5rem 0;
  z-index: 99;
  flex-direction: row; }
  header .container nav {
    padding: 0; }
    header .container nav .navbar-brand {
      width: 10rem; }
    header .container nav ul {
      width: 100%; }

main .content {
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column; }
main section#splash {
  background-image: url("../assets/home-splash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative; }
  main section#splash .cloud-background {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain; }
main section#stockmarket .container .row .content .text {
  margin-top: 1rem; }
main section#stockmarket .container .row .content .cta-blue {
  margin: 1.33rem auto 0;
  padding: 0.66rem 2.2rem; }
main section#performance .container .row .content .image {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 3.55rem; }
main section#performance .container .row .content .text {
  margin-top: 1rem; }
main section#performance .container .row .panel-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 4rem; }
  main section#performance .container .row .panel-container .panel {
    padding-right: 5.33rem; }
    main section#performance .container .row .panel-container .panel:last-of-type {
      padding-right: 0; }
    main section#performance .container .row .panel-container .panel .image {
      margin-bottom: 2.66rem; }
  @media (max-width: 767px) {
    main section#performance .container .row .panel-container {
      flex-wrap: wrap; }
      main section#performance .container .row .panel-container .panel {
        padding: 0; }
        main section#performance .container .row .panel-container .panel:first-of-type {
          margin-bottom: 3.33rem; } }
main section#how-it-works .container .row .panel-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5.33rem; }
  main section#how-it-works .container .row .panel-container .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6.33rem; }
    main section#how-it-works .container .row .panel-container .panel:nth-of-type(even) {
      flex-direction: row-reverse; }
      main section#how-it-works .container .row .panel-container .panel:nth-of-type(even) .image-wrapper {
        margin-right: 0;
        margin-left: 8.33rem; }
    main section#how-it-works .container .row .panel-container .panel:last-of-type {
      margin-bottom: 0; }
    main section#how-it-works .container .row .panel-container .panel .image-wrapper {
      flex-grow: 1;
      margin-right: 8.33rem;
      min-width: 20rem; }
    main section#how-it-works .container .row .panel-container .panel .panel-content {
      display: flex;
      flex-direction: column;
      align-self: center; }
      main section#how-it-works .container .row .panel-container .panel .panel-content .title {
        margin: 0; }
      main section#how-it-works .container .row .panel-container .panel .panel-content .text {
        margin: 1rem 0 2rem; }
      main section#how-it-works .container .row .panel-container .panel .panel-content .cta-blue {
        margin: 0 auto; }
  @media (max-width: 1199px) {
    main section#how-it-works .container .row .panel-container .panel:nth-of-type(even) .image-wrapper {
      margin-left: 2rem; }
    main section#how-it-works .container .row .panel-container .panel .image-wrapper {
      margin-right: 2rem; } }
  @media (max-width: 991px) {
    main section#how-it-works .container .row .panel-container .panel {
      flex-direction: column; }
      main section#how-it-works .container .row .panel-container .panel:nth-of-type(even) {
        flex-direction: column; }
        main section#how-it-works .container .row .panel-container .panel:nth-of-type(even) .image-wrapper {
          width: 50%;
          margin: 0 auto; }
      main section#how-it-works .container .row .panel-container .panel .image-wrapper {
        width: 50%;
        margin: 0 auto; } }

footer section#container-top {
  background-color: #131d26; }
  footer section#container-top .container .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center; }
    footer section#container-top .container .content p {
      color: white; }
footer section#container-bottom {
  background-color: white;
  padding: 3rem 0; }
  footer section#container-bottom .container .content {
    display: flex;
    justify-content: space-between; }
    footer section#container-bottom .container .content .copyright p {
      margin: 0;
      color: #71777d; }
    footer section#container-bottom .container .content .privacy .legal-row {
      display: flex;
      flex-wrap: wrap;
      height: 100%; }
      footer section#container-bottom .container .content .privacy .legal-row .legal-item {
        align-self: center;
        padding-left: 1rem; }
        footer section#container-bottom .container .content .privacy .legal-row .legal-item:first-of-type {
          padding-left: 0; }
        footer section#container-bottom .container .content .privacy .legal-row .legal-item a {
          color: #131d26;
          transition: color 200ms linear; }
          footer section#container-bottom .container .content .privacy .legal-row .legal-item a:hover, footer section#container-bottom .container .content .privacy .legal-row .legal-item a:focus {
            color: #0066cc;
            transition: color 200ms linear; }
    @media (max-width: 991px) {
      footer section#container-bottom .container .content .copyright {
        padding-right: 2rem; }
      footer section#container-bottom .container .content .privacy .legal-row .legal-item {
        margin-left: auto;
        align-self: baseline; }
        footer section#container-bottom .container .content .privacy .legal-row .legal-item:last-of-type {
          padding-left: 0; } }
    @media (max-width: 767px) {
      footer section#container-bottom .container .content {
        flex-direction: column; }
        footer section#container-bottom .container .content .privacy {
          margin-top: 1rem; }
          footer section#container-bottom .container .content .privacy .legal-row .legal-item {
            margin-left: 0; }
            footer section#container-bottom .container .content .privacy .legal-row .legal-item:last-of-type {
              padding-left: 1rem; } }
