header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem 0;
  z-index: 9999;
  transition: all 300ms linear;
  .container {
    margin: 0 auto;
    padding: 0;
    nav {
      padding: 0;
      width: 100%;
      margin-bottom: 0;
      vertical-align: middle;
      .navbar-brand {
        padding: 0;
        height: 4.44rem;
      }
      .cta-blue {
        float: right;
        margin-top: 0.8rem;
      }
    }
  }
  &.scrolled {
    transition: all 300ms linear;
    background-color: $disclaimer-blue;
    box-shadow: 0 0 12px 0 $dark-blue;
    padding: 0.66rem 0;
  }
}

main {
  .content {
    -webkit-transform: translateX(-50%);
    margin-left: 50%;
  }

  section#splash {
    position: relative;
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35rem;
    z-index: -2;
    margin: 0 auto;
    > .container {
      margin: 0 auto;
    }
    .cloud-background {
      position: absolute;
      width: 100%;
      bottom: -1px;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
    .small-cloud {
      max-width: 15%;
      position: absolute;
    }
    .cloud-1 {
      left: 26%;
      top: 20%;
    }
    .cloud-2 {
      right: 26%;
      top: 30%;
    }
    .balloon-house {
      max-width: 25%;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
    }
    @include media-breakpoint-down(lg) {
      height: 30rem;
      .cloud-1 {
        left: 20%;
        top: 25%;
      }
      .cloud-2 {
        right: 20%;
        top: 45%;
      }
    }
    @include media-breakpoint-down(md) {
      height: 25rem;
      .balloon-house {
        max-width: 30%;
      }
    }
    @include media-breakpoint-down(sm) {
      .balloon-house {
        max-width: 35%;
      }
      .small-cloud {
        max-width: 20%;
      }
    }
    @include media-breakpoint-down(xs) {
      .balloon-house {
        max-width: 40%;
        position: relative;
        top: 2rem;
      }
      .cloud-1 {
        top: 40%;
        left: 1.5rem;
      }
      .cloud-2 {
        right: 1rem;
      }
    }
    @media (max-width: 440px) {
      .balloon-house {
        max-width: 50%;
      }
    }
  }

  section#stockmarket {
    padding-top: 0;
    .container {
      .row {
        .content {
          .text {
            margin-top: 1rem;
          }
          .cta-container {
            text-align: center;
            .cta-blue {
              margin: 1.33rem auto 0;
              padding: 0.66rem 2.2rem 0.8rem;
            }
          }
        }
      }
    }
  }

  section#performance {
    .container {
      .row {
        .content {
          .image {
            -webkit-transform: translateX(-50%);
            margin-left: 50%;
            width: 60%;
            margin-bottom: 3.5rem;
          }
          .text {
            margin-top: 1rem;
          }
        }
        .panel-container {
          margin: 0 auto;
          margin-top: 4rem;
          .panel {
            padding: 0 2rem;
            .image {
              margin-bottom: 2rem;
              min-width: 20rem;
              max-width: 20rem;
              margin-left: 50%;
              -webkit-transform: translateX(-50%);
            }
          }
        }
      }
    }
  }

  section#how-it-works {
    .container {
      .row {
        .panel-container {
          margin: 5.33rem 0;
          .panel {
            margin-bottom: 3rem;
            display: table;
            &:last-of-type {
              margin-bottom: 0;
            }
            .image-wrapper {
              display: table-cell;
              min-width: 16rem;
              vertical-align: middle;
              img {
                max-width: 20rem;
              }
              &:nth-of-type(even) {
                img {
                  float: right;
                }
              }
            }
            .panel-content {
              display: table-cell;
              vertical-align: middle;
              width: 45%;
              .title {
                margin: 0;
              }
              .text {
                margin: 1rem 0 2rem;
              }
              .disclaimer {
                font-size: 0.8rem;
                margin: 0;
                padding: 1.33rem;
                border: 1px solid $disclaimer-blue;
                border-radius: 4px;
                line-height: 1.6;
              }
              .cta-blue {
                margin: 0 auto;
              }
            }
          }
          @include media-breakpoint-down(lg) {
            .panel {
              &:nth-of-type(even) {
                .image-wrapper {
                  margin-left: 2rem;
                }
              }
              .image-wrapper {
                margin-right: 2rem;
              }
            }
          }
          @include media-breakpoint-down(md) {
            margin-top: 2rem;
            .panel {
              margin-bottom: 2rem;
              &:nth-of-type(even) {
                .image-wrapper {
                  width: 50%;
                  margin: 0 auto;
                }
              }
              .image-wrapper {
                width: 50%;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  section#splash-bottom {
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    padding: 25rem 0 6rem;
    .cloud-background {
      position: absolute;
      width: 100%;
      top: 0;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
    .content {
      text-align: center;
      .title, .text {
        color: white;
      }
      .text {
        line-height: 1.5;
        font-family: $unit-roundedRg;
      }
      .cta-blue {
        margin: 1.66rem auto 0;
      }
    }
    @include media-breakpoint-down(lg) {
      padding: 18rem 0 5rem;
    }
    @include media-breakpoint-down(md) {
      padding: 15rem 0 4rem;
    }
    @include media-breakpoint-down(sm) {
      padding: 12rem 0 4rem;
    }
    @include media-breakpoint-down(xs) {
      padding: 10rem 0 3rem;
    }
  }
}


footer {
  section#container-top {
    background-color: $footer-black;
    .container {
      .content {
        transform: translate(-50%);
        margin-left: 50%;
        text-align: center;
        .image-wrapper {
          margin-bottom: 1.33rem;
          max-width: 20rem;
          width: 100%;
        }
        p {
          color: white;
        }
      }
    }
  }
  section#container-bottom {
    background-color: white;
    padding: 3rem 0;
    .container {
      .content {
        .copyright {
          p {
            margin: 0;
            color: $text-grey;
          }
        }
        .privacy {
          text-align: right;
          .legal-row {
            height: 100%;
            .legal-item {
              padding-right: 15px;
              a {
                color: $text-black;
                transition: color 200ms linear;
                &:hover, &:focus {
                  color: $dark-blue;
                  transition: color 200ms linear;
                }
              }
            }
          }
        }
      }
    }
  }
}
