header {
    background-color: transparent;
    max-width: 2000px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 0 1.5rem 0;
    z-index: 99;
    flex-direction: row;
    .container {
    nav {
      padding: 0;
      .navbar-brand {
        width: 10rem;
      }
      ul {
        width: 100%;
      }
    }
  }
}

main {
  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  section#splash {
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
    position: relative;
    .cloud-background {
      position: absolute;
      width: 100%;
      bottom: -1px;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
  }
  section#stockmarket {
    .container {
      .row {
        .content {
          .text {
            margin-top: 1rem;
          }
          .cta-blue {
            margin: 1.33rem auto 0;
            padding: 0.66rem 2.2rem;
          }
        }
      }
    }
  }
  section#performance {
    .container {
      .row {
        .content {
          .image {
            margin: 0 auto;
            width: 60%;
            margin-bottom: 3.55rem;
          }
          .text {
            margin-top: 1rem;
          }
        }
        .panel-container {
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          margin-top: 4rem;
          .panel {
            padding-right: 5.33rem;
            &:last-of-type {
              padding-right: 0;
            }
            .image {
              margin-bottom: 2.66rem;
            }
          }
          @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            .panel {
              padding: 0;
              &:first-of-type {
                margin-bottom: 3.33rem;
              }
            }
          }
        }
      }
    }
  }
  section#how-it-works {
    .container {
      .row {
        .content {

        }
        .panel-container {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          margin-top: 5.33rem;
          .panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 6.33rem;
            &:nth-of-type(even) {
              flex-direction: row-reverse;
              .image-wrapper {
                margin-right: 0;
                margin-left: 8.33rem;
              }
            }
            &:last-of-type {
              margin-bottom: 0;
            }
            .image-wrapper {
              flex-grow: 1;
              margin-right: 8.33rem;
              min-width: 20rem;
            }
            .panel-content {
              display: flex;
              flex-direction: column;
              align-self: center;

              .title {
                margin: 0;
              }
              .text {
                margin: 1rem 0 2rem;
              }
              .disclaimer {
                font-size: 0.8rem;
                margin: 0;
                padding: 1.33rem;
                border: 1px solid $disclaimer-blue;
                border-radius: 4px;
                line-height: 1.6;
              }
              .cta-blue {
                margin: 0 auto;
              }
            }
          }
          @include media-breakpoint-down(lg) {
            .panel {
              &:nth-of-type(even) {
                .image-wrapper {
                  margin-left: 2rem;
                }
              }
              .image-wrapper {
                margin-right: 2rem;
              }
            }
          }
          @include media-breakpoint-down(md) {
            .panel {
              flex-direction: column;
              &:nth-of-type(even) {
                flex-direction: column;
                .image-wrapper {
                  width: 50%;
                  margin: 0 auto;
                }
              }
              .image-wrapper {
                width: 50%;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
  section#splash-bottom {
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 51rem;
    position: relative;
    display: flex;
    align-content: center;
    .cloud-background {
      position: absolute;
      width: 100%;
      top: 0;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
    .content {
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      margin: 0 auto;
      text-align: center;
      .title, .text {
        color: white;
      }
      .text {
        line-height: 1.5;
        font-family: $unit-roundedRg;
      }
      .cta-blue {
        margin: 1.66rem auto 0;
      }
    }
    @include media-breakpoint-down(lg) {
      height: 40rem;
      .content {
        top: 45%;
      }
    }
  }
}







footer {
  section#container-top {
    background-color: $footer-black;
    .container {
      .content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        .image-wrapper {
          /// TODO:
        }
        p {
          color: white;
        }
      }
    }
  }
  section#container-bottom {
    background-color: white;
    padding: 3rem 0;
    .container {
      .content {
        display: flex;
        justify-content: space-between;
        .copyright {
          p {
            margin: 0;
            color: $text-grey;
          }
        }
        .privacy {
          .legal-row {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            .legal-item {
              align-self: center;
              padding-left: 1rem;
              &:first-of-type {
                padding-left: 0;
              }
              a {
                color: $text-black;
                transition: color 200ms linear;
                &:hover, &:focus {
                  color: $dark-blue;
                  transition: color 200ms linear;
                }
              }
            }
          }
        }
        @include media-breakpoint-down(md) {
          .copyright {
            padding-right: 2rem;
          }
          .privacy {
            .legal-row {
              .legal-item {
                margin-left: auto;
                align-self: baseline;
                &:last-of-type {
                  padding-left: 0;
                }
              }
            }
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          .privacy {
            margin-top: 1rem;
            .legal-row {
              .legal-item {
                margin-left: 0;
                &:last-of-type {
                  padding-left: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
