header {
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2rem 0;
  z-index: 9999;
  transition: all 300ms linear;
  .container {
    margin: 0 auto;
    padding: 0;
    nav {
      padding: 0;
      width: 100%;
      margin-bottom: 0;
      vertical-align: middle;
      .navbar-brand {
        padding: 0;
        height: 4.44rem;
      }
      .cta-blue {
        float: right;
        margin-top: 0.8rem;
      }
    }
  }
  &.scrolled {
    transition: all 300ms linear;
    background-color: $disclaimer-blue;
    box-shadow: 0 0 12px 0 $dark-blue;
    padding: 0.66rem 0;
  }
  @include media-breakpoint-down(sm) {
    .container {
      nav {
        padding: 0 0.33rem;
        .navbar-brand {
          height: 3rem;
        }
        .cta-blue {
          margin-top: 0.33rem;
        }
      }
    }
  }
}

main {
  section {
    .row {
      margin-left: auto;
      margin-right: auto;
      width: 50%;

      .content {
        margin: 0 auto;
        width: 100%;
      }
    }
    @include media-breakpoint-down(lg) {
      .row {
        width: 80%;
      }
    }
    @include media-breakpoint-down(sm) {
      .row {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  section#splash {
    position: relative;
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35rem;
    z-index: -2;
    margin: 0 auto;
    > .container {
      margin: 0 auto;
    }
    .cloud-background {
      position: absolute;
      width: 100%;
      bottom: -1px;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
    .small-cloud {
      max-width: 15%;
      min-width: 15%;
      width: 15%;
      position: absolute;
    }
    .cloud-1 {
      left: 26%;
      top: 20%;
    }
    .cloud-2 {
      right: 26%;
      top: 30%;
    }
    .balloon-house {
      max-width: 25%;
      min-width: 25%;
      width: 25%;
      left: 37%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
    }
    @include media-breakpoint-down(lg) {
      height: 30rem;
      .cloud-1 {
        left: 20%;
        top: 25%;
      }
      .cloud-2 {
        right: 20%;
        top: 45%;
      }
    }
    @include media-breakpoint-down(md) {
      height: 25rem;
      .balloon-house {
        max-width: 30%;
      }
    }
    @include media-breakpoint-down(sm) {
      .balloon-house {
        max-width: 35%;
        min-width: 35%;
        width: 35%;
        left: 30%;
      }
      .small-cloud {
        max-width: 20%;
      }
    }
    @include media-breakpoint-down(xs) {
      .balloon-house {
        max-width: 40%;
        min-width: 40%;
        width: 100%;
        left: 25%;
        top: 5rem;
      }
      .small-cloud {
        max-width: 25%;
        width: 25%;
      }
      .cloud-1 {
        top: 40%;
        left: 1.5rem;
      }
      .cloud-2 {
        right: 0rem;
      }
    }
    @media (max-width: 440px) {
      .balloon-house {
        max-width: 50%;
      }
    }
  }

  section#stockmarket {
    padding-top: 0;
    .container {
      .row {
        width: 60%;
        .content {
          .text {
            margin-top: 1rem;
          }
          .cta-container {
            text-align: center;
            .cta-blue {
              margin: 1.33rem auto 0;
              padding: 0.66rem 2.2rem 0.8rem;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(lg) {
      .container {
        .row {
          width: 70%;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .container {
        .row {
          width: 100%;
        }
      }
    }
  }

  section#performance {
    .container {
      .row {
        width: 60%;
        .content {
          text-align: center;
          .image {
            width: 60%;
            margin-bottom: 3.5rem;
          }
          .title {
            text-align: left;
          }
          .text {
            text-align: left;
            margin-top: 1rem;
          }
        }
      }
    }
    @include media-breakpoint-down(lg) {
      .container {
        .row {
          width: 70%;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .container {
        .row {
          width: 100%;
          .content {
            padding: 0;
            .image {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  section#performance-panels {
    .container {
      .row {
        width: 100%;
        .panel-container {
          margin-top: 4rem;
          .panel {
            padding: 0 2rem;
            .image {
              margin-bottom: 2rem;
              max-width: 30rem;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      .container {
        .row {
          .panel-container {
            .panel {
              .image {
                max-width: 20rem;
              }
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .container {
        .row {
          width: 100%;
          .panel-container {
            margin: 0;
            padding: 0;
            .panel {
              padding: 0;
              .image {
                max-width: none;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
  section#how-it-works {
    .container {
      .row {
        width: 100%;
      }
      .panel-container {
        margin: 5.33rem 0;
        .panel {
          border: none;
          box-shadow: none;
          border-radius: 0;
          display: table;
          &:nth-of-type(even) {
            .image-wrapper {
              text-align: right;
            }
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          .image-wrapper {
            width: 48%;
            display: inline-block;
            img {
              max-width: 20rem;
              right: 0;
              display: inline-block;
            }
          }
          .panel-content {
            display: table-cell;
            vertical-align: middle;
            width: 48%;
            display: inline-block;
            .title {
              margin: 0;
            }
            .text {
              margin: 1rem 0 2rem;
            }
            .disclaimer {
              font-size: 0.8rem;
              margin: 0;
              padding: 1.33rem;
              border: 1px solid $disclaimer-blue;
              border-radius: 4px;
              line-height: 1.6;
            }
            .cta-blue {
              margin: 0 auto;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      .row {
        .content {
          padding: 0;
        }
      }
      .container {
        .panel-container {
          margin-top: 2rem;
          .panel {
            display: flex;
            flex-direction: column;
            text-align: center;

            &:nth-of-type(even) {
              flex-direction: column-reverse;
              .image-wrapper {
                text-align: center;
              }
            }
            .image-wrapper {
              width: 100%;
            }
            .panel-content {
              width: 100%;
            }
          }
        }
      }
    }
  }

  section#splash-bottom {
    background-image: url('../assets/home-splash.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    padding: 25rem 0 6rem;
    .cloud-background {
      position: absolute;
      width: 100%;
      top: 0;
      background-repeat: no-repeat;
      background-position: cover;
      background-size: contain;
    }
    .content {
      text-align: center;
      .title, .text {
        color: white;
      }
      .text {
        line-height: 1.5;
        font-family: $unit-roundedRg;
      }
      .cta-blue {
        margin: 1.66rem auto 0;
      }
    }
    @include media-breakpoint-down(lg) {
      padding: 18rem 0 5rem;
    }
    @include media-breakpoint-down(md) {
      padding: 15rem 0 4rem;
    }
    @include media-breakpoint-down(sm) {
      padding: 12rem 0 4rem;
    }
    @include media-breakpoint-down(xs) {
      padding: 10rem 0 3rem;
    }
  }
}


footer {
  section#container-top {
    background-color: $footer-black;
    .container {
      .content {
        transform: translate(-50%);
        margin-left: 50%;
        text-align: center;
        .image-wrapper {
          margin-bottom: 1.33rem;
          max-width: 20rem;
          width: 100%;
        }
        p {
          color: white;
        }
      }
    }
  }
  section#container-bottom {
    background-color: white;
    padding: 3rem 0;
    .container {
      .row {
        margin: 0;
        .content {
          .copyright {
            padding: 0;
            p {
              margin: 0;
              color: $text-grey;
            }
          }
          .privacy {
            text-align: right;
            .legal-row {
              height: 100%;
              .legal-item {
                padding-right: 15px;
                a {
                  color: $text-black;
                  transition: color 200ms linear;
                  &:hover, &:focus {
                    color: $dark-blue;
                    transition: color 200ms linear;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
