$dark-blue:           #0066cc !default;
$disclaimer-blue:     #99ccff !default;
$footer-black:        #131d26 !default;
$text-grey:           #71777d !default;

$text-black:          #131d26 !default;
$background-gradient: radial-gradient(circle at 31% 0, #99ccff, #6699cc);
