a {
	color: $text-black;
	transition: color 200ms linear;
	&:hover, &:focus {
		color: $dark-blue;
		text-decoration: none;
		transition: color 200ms linear;
	}
}
section {
  padding: 3.33rem 0;
	@include media-breakpoint-down(sm) {
    padding: 2rem 0;
  }
}

ul {
	list-style: none;
	padding: 0;
	li {
		padding: 0;
	}
}

html {
	font-size: 18px;
}

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.cta-blue {
	background-color: $dark-blue;
	color: white;
	margin-left: auto;
	border-radius: 4px;
	padding: 0.66rem 1.2rem;
	font-family: $unit-roundedBd;
	text-transform: uppercase;
	transition: background-color 200ms linear;
	&:hover, &:focus {
		background-color: rgba($dark-blue, 0.6);
		color: white;
		transition: background-color 200ms linear;
	}
}
