
*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 18px;
	body {
		background-color: #79ACDF;
	}
	@include media-breakpoint-down(sm) {
		//font-size: 20px;
	}
}

section {
	padding: 3.33rem 0;
	max-width: 1400px;
	background-color: $white;
	margin: 0 auto;
	@include media-breakpoint-down(sm) {
		padding: 2rem 0;
	}
}

ul {
	list-style: none;
	padding: 0;
	li {
		padding: 0;
	}
}

a {
	color: $text-black;
	transition: color 200ms linear;
	&:hover, &:focus {
		color: $dark-blue;
		text-decoration: none;
		transition: color 200ms linear;
	}
}

.cta-blue {
	background-color: $dark-blue;
	color: white;
	margin-left: auto;
	border-radius: 4px;
	padding: 0.66rem 1.2rem 0.75rem;
	font-family: $unit-roundedBd;
	text-transform: uppercase;
	transition: background-color 200ms linear;
	&:hover, &:focus {
		background-color: rgba($dark-blue, 0.6);
		color: white;
		transition: background-color 200ms linear;
	}
	&:active {
		background-color: darken($dark-blue, 20%);
	}
}
