@import url("https://p.typekit.net/p.css?s=1&k=akb4qev&ht=tk&f=17001.17005.39722.39729&a=8622106&app=typekit&e=css");

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("Roboto-Light"),
       local("DroidSans"),
       local("Tahoma");
}

@font-face {
font-family:"soleilBd";
src:url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"soleilRg";
src:
url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
url("https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"unit-roundedBd";
src:
url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
url("https://use.typekit.net/af/d9b8f0/00000000000000003b9b212a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"unit-roundedRg";
src:
url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
url("https://use.typekit.net/af/73fcab/00000000000000003b9b2131/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

$soleilRg:     'soleilRg', 'system', 'sans-serif' !default;
$soleilBd:     'soleilBd', 'system', 'sans-serif' !default;
$unit-roundedRg: 'unit-roundedRg', 'system', 'sans-serif' !default;
$unit-roundedBd: 'unit-roundedBd', 'system', 'sans-serif' !default;

h1, .h1 {
  font-family: $soleilBd;
  font-size: 3.137rem;
  line-height: 1.45;
  @include media-breakpoint-down(md) {
    font-size: 2.369rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.77rem;
  }
}
h2, .h2 {
  font-family: $soleilBd;
  font-size: 2.369rem;
  line-height: 1.45;
  @include media-breakpoint-down(md) {
    font-size: 1.777rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.33rem;
  }
}
h3, .h3 {
  font-family: $soleilBd;
  font-size: 1.777rem;
  line-height: 1.45;
  @include media-breakpoint-down(md) {
    font-size: 1.333rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }

}
h4, .h4 {
  font-family: $soleilBd;
  font-size: 1.333rem;
  line-height: 1.45;
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.9rem;
  }
}
h5, .h5 {
  font-family: $soleilBd;
  font-size: 1rem;
  line-height: 1.45;
}
h6, .h6 {
  font-family: $soleilBd;
  font-size: 0.75rem;
  line-height: 1.45;
}

p, span, a {
  font-family: $soleilRg;
  font-size: 1rem;
}
